* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: whitesmoke;
}


h1{
    background-color: black;
    color: whitesmoke;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: black;
}

img {
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 5rem;
    font-size: 2rem;
}

#user-score, #comp-score {
    font-size: 4.5rem;
}

.msg-container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#msg {
    font-size: 1.7rem;
    display: inline;
    background-color: black;
    color: whitesmoke;
    padding: 0.8rem;
    border-radius: 1.5rem;
}


/* Add styles for the "Play Again" button */
.play-again-btn {
    display: block; 
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
}

.play-again-btn:hover {
    background-color: #45a049;
}





@media only screen and (max-width: 768px) {
    .choices {
        margin-top: 9rem;
        flex-direction: row;
        gap: 1.5rem;
        justify-content: center; 
    }
    
    .choice {
        height: 120px;
        width: 120px;
    }
    
    img {
        height: 100px;
        width: 100px;
    }
    
    .score-board {
        margin-top: 5rem;
        display: flex;
        gap: 2.5rem;
        align-items: center; 
    }

    #msg {
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 1.2rem;
    }

    .msg-container {
        margin-top: 5rem;
    }
}
